:root {
    /* Colors */
    --primary01: hsl(193, 38%, 86%);
    --primary02: hsl(150, 100%, 66%);
    /* Neutral Colors*/
    --neutral01: hsl(217, 19%, 38%);
    --neutral02: hsl(217, 19%, 24%);
    --neutral03: hsl(218, 23%, 16%);

    --ff: font-family: 'Manrope', sans-serif;

}


/*<<<<<<<<< GLOBAL STYLES >>>>>>>*/
body {
  background: var(--neutral03);
}
/*<<<<<<<<< LAYOUT >>>>>>>*/
.advice-container {
  background: var(--neutral02);
  max-width: 400px;
  border-radius: 10px;
  padding: 24px 24px 0 24px;
  margin: 100px auto;
  display: flex;
  flex-direction: column;
}

.advice-inner-content-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 14px;
}


.advice-label,.advice-number {
  display: flex;
  color: var(--primary02);
  text-transform: uppercase;
  font-size: .8rem;
  
}

.advice-generated {
  color: var(--primary01);
  font-size: 28px;
  text-align: center;
}


.quote-symbol {
  font-size: 40px;
  color: var(--primary01);
  justify-self: center;
  margin: 14px 0 0 0;
}

.generate-new-advice {
  padding: 12px 14px;
  position: relative;
  top: 24px;
  border-radius: 100px;
  background: var(--primary02);
  align-self: center;
}



.generate-new-advice img {
  width: 20px;
}

/*<<<<<<<<< ADDITIONAL STYLES >>>>>>>*/



.generate-new-advice:hover {
  background: hsl(150, 83%, 52%);
}

/*<<<<<<<<< MEDIA QUERIES  >>>>>>>*/


@media(max-width: 430px) {
  .advice-generated {
    font-size: 1.5rem;
    line-height: 1.7rem;
  }
}